// Here you can add other styles
.violet {
  background-color: #5C66FF;
  color: white;
  text-align: center;
}

.light-violet {
  background-color: #BFCFFF;
}

.header-icon {
  position: absolute;
  right: 30px;
}

.top-right-edit-icon {
  position: absolute;
  right: 10px;
  top: 5px;
}
